<div class="mt-4">
  <ul class="text-center text-sm font-medium">
    <li><%= zip_code_result['cep'] %></li>
    <li><%= zip_code_result['address'] %></li>
    <li><%= zip_code_result['district'] %></li>
    <li><%= zip_code_result['state'] %></li>
    <li><%= zip_code_result['city'] %></li>
    <li>DDD <%= zip_code_result['ddd'] %></li>
  </ul>
</div>
